<f:layout name="Default"/>

<f:section name="Title">Passwort-Änderung</f:section>

<f:section name="Content">

  <f:if condition="{success}">
    <f:form action="updatePassword" method="POST" object="{resetPasswordFlow}" objectName="resetPasswordFlow">

      <label>
        Neues Passwort
        <f:form.password property="passwordDto.password"/>
        <f:render partial="FormErrors" arguments="{for: 'resetPasswordFlow.passwordDto.password'}"/>
      </label>

      <label>
        Passwortbestätigung
        <f:form.password property="passwordDto.passwordConfirmation"/>
      </label>

      <input type="submit" value="Passwort zurücksetzen" class="button large primary"/>
    </f:form>
  </f:if>

  <f:if condition="{tokenTimeout}">
    <div class="callout alert">
      <p>Entschuldigung, dieser Link zur Passwort-Änderung ist nicht mehr gültig!</p>
    </div>

    <f:link.action action="index" controller="ResetPassword" class="button large primary">Neuen Passwortlink abrufen</f:link.action>
  </f:if>

</f:section>
