<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:layout name="Default"/>

<f:section name="Title">Passwort vergessen</f:section>

<f:section name="Content">

  <div class="callout success">
    <p>
      Eine Email wurde an <strong>{resetPasswordFlow.email}</strong> versendet,
      falls dieser Account existiert. Klicken Sie auf
      den enthaltenen Link, um Ihr Passwort zurückzusetzen.
    </p>
  </div>
</f:section>

</html>
