<f:layout name="Default"/>

<f:section name="Title">Passwort vergessen</f:section>

<f:section name="Content">

  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Passwort aktualisiert</h1>
      </div>
    </div>
    <div class="row">
      <f:flashMessages class="flashmessages"/>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">

        <f:if condition="{success}">
          <p class="lead">Das Passwort wurde erfolgreich aktualisiert.</p>
          <p>
            <f:link.action action="login" controller="Login" class="button large primary">
              anmelden
            </f:link.action>
          </p>
        </f:if>

        <f:if condition="{accountNotFound}">
          <p class="lead">Es gab einen Fehler beim Passwort zurücksetzen.</p>
          <p>
            <f:link.action action="index" controller="ResetPassword" class="button large primary">
              nochmals versuchen
            </f:link.action>
          </p>
        </f:if>


      </div>
    </div>
  </div>
</f:section>
