<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:layout name="Default"/>

<f:section name="Title">Passwort vergessen</f:section>

<f:section name="Content">

  <f:if condition="{success}">
    <div class="callout success">
      <p>Das Passwort wurde erfolgreich aktualisiert.</p>
    </div>
    <f:link.action action="login" controller="Login" class="button large primary">Zum Login</f:link.action>
  </f:if>

  <f:if condition="{accountNotFound}">
    <div class="callout alert">
      <p>Es gab einen Fehler beim zurücksetzen Ihres Passworts.</p>
    </div>
    <f:link.action action="index" controller="ResetPassword" class="button large primary">Nochmals versuchen</f:link.action>
  </f:if>

</f:section>

</html>
