<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:layout name="Default"/>

<f:section name="Title">Activate Account</f:section>

<f:comment>
  VARIABLES:

  - tokenNotFound: if set, the auth token was not found.
  - tokenTimeout: if set, the token had a timeout.
  - success: all worked.
</f:comment>
<f:section name="Content">

  <f:if condition="{tokenNotFound}">
    <div class="callout alert">
      <p>Der Aktivierungslink war nicht gültig.
        <f:link.action action="index" controller="Registration" package="Sandstorm.UserManagement">Bitte registrieren Sie sich erneut.</f:link.action>
      </p>
    </div>
  </f:if>

  <f:if condition="{tokenTimeout}">
    <div class="callout alert">
      <p>Der Aktivierungslink ist nicht mehr gültig.
        <f:link.action action="index" controller="Registration" package="Sandstorm.UserManagement">Bitte registrieren Sie sich erneut.</f:link.action>
      </p>
    </div>
  </f:if>

  <f:if condition="{success}">
    <div class="callout success">
      <p>Sie sind nun aktiviert und können sich auf unserer Website anmelden.
      </p>
    </div>
    <!-- This can cause issues in the Neos use case, as then the Login Form will be displayed in the registration plugin's subcontext, which might
    not make sense. Therefore, deactivated for the time being. Feel free to uncomment in your own template. -->
    <!--<f:link.action controller="Login" action="login" package="Sandstorm.UserManagement" class="button large primary">Zum Login</f:link.action>-->
  </f:if>

</f:section>

</html>
