<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/Neos/FluidAdaptor/ViewHelpers"
      xmlns:usermanagement="http://typo3.org/ns/Sandstorm/UserManagement/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:layout name="Default"/>

<f:section name="Title">Registration</f:section>

<f:section name="Content">
  <usermanagement:ifAuthenticated authenticationProviderName="Sandstorm.UserManagement:Login">
    <f:then>
    </f:then>
    <f:else>
      <f:form action="register" method="post" objectName="registrationFlow">
        <fieldset>
          <label>
            <f:translate id="email"></f:translate>
            <f:form.textfield property="email" placeholder="test@example.com" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]" type="email" required="true"/>
            <f:render partial="FormErrors" section="ValidationResults" arguments="{for: 'registrationFlow.email'}"/>
          </label>

          <label>
            <f:translate id="password"></f:translate>
            <f:form.password placeholder="{f:translate(id: 'yourPassword')}" property="passwordDto.password" required="true"/>
            <f:render partial="FormErrors" section="ValidationResults" arguments="{for: 'registrationFlow.passwordDto.password'}"/>
          </label>

          <label>
            <f:translate id="registration.confirmPassword"></f:translate>
            <f:form.password placeholder="{f:translate(id: 'registration.repeatPassword')}" property="passwordDto.passwordConfirmation" required="true"/>
          </label>

          <label>
            <f:translate id="registration.salutation"></f:translate>
            <f:form.select options="{'m': 'Mr.', 'f': 'Ms.'}" translate="{by: 'id', prefix: 'registration.salutationOptions.'}" property="attributes.salutation" />
            <f:render partial="FormErrors" section="ValidationResults" arguments="{for: 'registrationFlow.attributes.salutation'}"/>
          </label>

          <label>
            <f:translate id="firstName"></f:translate>
            <f:form.textfield placeholder="Manfred" property="attributes.firstName" required="true"/>
            <f:render partial="FormErrors" section="ValidationResults" arguments="{for: 'registrationFlow.attributes.firstName'}"/>
          </label>

          <label>
            <f:translate id="lastName"></f:translate>
            <f:form.textfield placeholder="Mustermann" property="attributes.lastName"/>
            <f:render partial="FormErrors" section="ValidationResults" arguments="{for: 'registrationFlow.attributes.lastName'}"/>
          </label>

          <input type="submit" value="{f:translate(id: 'registration.register')}" class="button large primary"/>
        </fieldset>
      </f:form>
    </f:else>
  </usermanagement:ifAuthenticated>
</f:section>

</html>
