<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:layout name="Default"/>

<f:section name="Title">Registration</f:section>

<f:section name="Content">
  <div class="callout success">
    <p>Wir haben eine E-Mail zur Bestätigung der Registrierung an <strong>{registrationFlow.email}</strong> gesendet. Bitte folgen Sie der Anleitung in der E-Mail, um die Registrierung zu bestätigen.</p>
  </div>
</f:section>

</html>
