{namespace usermanagement=Sandstorm\UserManagement\ViewHelpers}
<f:layout name="Default"/>

<f:section name="Title">Login</f:section>

<f:section name="Content">

  <usermanagement:ifAuthenticated authenticationProviderName="Sandstorm.UserManagement:Login">
    <f:then>
      <f:render partial="LogoutForm" arguments="{_all}"/>
    </f:then>
    <f:else>
      <f:form action="authenticate" method="post">
        <fieldset>
          <input placeholder="test@example.com" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" type="email" autofocus>
          <input placeholder="Passwort" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" type="password" value="">
          <input type="submit" value="Login" class="button large primary" />
        </fieldset>
      </f:form>
      <f:link.action action="index" controller="ResetPassword">Passwort vergessen?</f:link.action>
    </f:else>
  </usermanagement:ifAuthenticated>
</f:section>
