<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:section name="ValidationResults">
  <f:form.validationResults for="{for}">
    <f:if condition="{validationResults.flattenedErrors}">
      <dl class="errors">
        <f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errors">
          <f:for each="{errors}" as="error">
            <dt>{error}</dt>
          </f:for>
        </f:for>
      </dl>
    </f:if>
  </f:form.validationResults>
</f:section>

</html>
