<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/Neos/FluidAdaptor/ViewHelpers"
      xmlns:usermanagement="http://typo3.org/ns/Sandstorm/UserManagement/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:section name="Logout">
  <p><f:translate id="logout.loggedAs" arguments="{0: '{account.accountIdentifier}'}"></f:translate></p>
  <f:form action="logout" method="post" additionalAttributes="{role:'form'}">
    <f:form.submit value="{f:translate(id: 'logout')}" class="button primary" />
  </f:form>
</f:section>

</html>
