<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:section name="DataTable">
    <table>
        <tr>
            <td><f:translate id="accountData.email" package="Sandstorm.UserManagement" source="Partials/Profile/AccountData"/>:</td>
            <td>{account.accountIdentifier}</td>
        </tr>
        <tr>
            <td><f:translate id="accountData.roles" package="Sandstorm.UserManagement" source="Partials/Profile/AccountData"/>:</td>
            <td>
                <f:for each="{account.roles}" as="role">{role.name}</f:for>
            </td>
        </tr>
        <tr>
            <td><f:translate id="accountData.createdOn" package="Sandstorm.UserManagement" source="Partials/Profile/AccountData"/>:</td>
            <td>
                <f:format.date format='<f:translate id="accountData.dateFormat" package="Sandstorm.UserManagement" source="Partials/Profile/AccountData"/>'>{account.creationDate.date}</f:format.date>
            </td>
        </tr>
    </table>
</f:section>

</html>
