<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:section name="NewPassword">
  <fieldset>
    <label>
      Neues Passwort
      <f:form.password name="password[0]" id="password[0]" class="{f:validation.ifHasErrors(for: 'password', then: ' form-error')}"/>
    </label>
    <label>
      Neues Passwort bestätigen
      <f:form.password name="password[1]" id="password[1]" class="{f:validation.ifHasErrors(for: 'password', then: ' form-error')}" />
    </label>
    <f:render partial="FormErrors" section="ValidationResults" arguments="{for: 'password'}"/>

    <input type="submit" value="Passwort ändern" class="button large primary" />
  </fieldset>
</f:section>

</html>
