<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:section name="NewPassword">
    <fieldset>
        <label for="password[0]">
            <f:translate id="passwordForm.newPassword" package="Sandstorm.UserManagement" source="Partials/Profile/PasswordForm"/>:
        </label>
        <f:form.password name="password[0]" id="password[0]" class="{f:validation.ifHasErrors(for: 'password', then: ' form-error')}"/>
        <label for="password[1]">
            <f:translate id="passwordForm.confirmNewPassword" package="Sandstorm.UserManagement" source="Partials/Profile/PasswordForm"/>:
        </label>
        <f:form.password name="password[1]" id="password[1]" class="{f:validation.ifHasErrors(for: 'password', then: ' form-error')}" />
        <f:render partial="FormErrors" section="ValidationResults" arguments="{for: 'password'}"/>
        <button class="button large primary"><f:translate id="passwordForm.changePassword" package="Sandstorm.UserManagement" source="Partials/Profile/PasswordForm"/></button>
    </fieldset>
</f:section>

</html>
