<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:section name="PersonalForm">
    <fieldset>
        <label class="{f:validation.ifHasErrors(for: 'password', then: ' form-error')}">
            <f:translate id="personalForm.firstName" package="Sandstorm.UserManagement" source="Partials/Profile/PersonalForm"/>:
            <f:form.textfield property="firstName" name="firstName" value="{user.firstName}" placeholder='<f:translate id="personalForm.firstName" package="Sandstorm.UserManagement" source="Partials/Profile/PersonalForm"/>'/>
        </label>

        <label>
            <f:translate id="personalForm.lastName" package="Sandstorm.UserManagement" source="Partials/Profile/PersonalForm"/>:
            <f:form.textfield property="lastName" name="lastName" value="{user.lastName}" placeholder='<f:translate id="personalForm.lastName" package="Sandstorm.UserManagement" source="Partials/Profile/PersonalForm"/>'/>
        </label>

        <f:render partial="FormErrors" section="ValidationResults" arguments="{for: 'user'}"/>

        <button class="button large primary">
            <f:translate id="personalForm.changeData" package="Sandstorm.UserManagement" source="Partials/Profile/PersonalForm"/>
        </button>
  </fieldset>
</f:section>

</html>
