Sandstorm:
  UserManagement:
    # Validity timespan for the activation token for newly registered users.
    activationTokenTimeout: '2 days'
    # Validity timespan for the token used to reset passwords.
    resetPasswordTokenTimeout: '4 hours'
    # The message that appears if a user could not be logged in.
    authFailedMessage:
      title: 'Login nicht möglich'
      body: 'Sie haben ungültige Zugangsdaten eingegeben. Bitte versuchen Sie es noch einmal.'
    # Email settings
    email:
      # Sender Address
      senderAddress: 'test@example.com'
      # Sender name - will be merged with senderAddress to something
      # like "Sandstorm Usermanagement Package <test@example.com>"
      senderName: 'Sandstorm Usermanagement Package'
      # Subject line for the account confirmation email
      subjectActivation: 'Please confirm your account'
      # Subject line for the password reset email
      subjectResetPassword: 'Password reset'
      # Template package to read the email templates from - this can be used to override
      # e-mail templates. They are expected in the package given here, in the folder
      # <Package>/Resources/Private/EmailTemplates.
      templatePackage: 'Sandstorm.UserManagement'
    # An array of roles which are assigned to users after they activate their account.
    rolesForNewUsers: []

    # Redirect settings after logout/login
    redirect:
      afterLogin: []
      afterLogout: []
    # To activate redirection, make these settings. controllerArguments are optional.
#      afterLogin:
#        action: 'action'
#        controller: 'Controller'
#        package: 'Your.Package'
#        controllerArguments:
#          yourAdditionalArgument: 'test'
#      afterLogout:
#        action: 'action'
#        controller: 'Controller'
#        package: 'Your.Package'
#        controllerArguments:
#          yourAdditionalArgument: 'test1'

TYPO3:
  Flow:
    mvc:
      routes:
        'Sandstorm.UserManagement': TRUE


#   The auth provider settings below are needed for the standalone case only.
    security:
      authentication:
        providers:
          'Sandstorm.UserManagement:Login':
            provider: 'PersistedUsernamePasswordProvider'
            entryPoint: 'WebRedirect'
            entryPointOptions:
              routeValues:
                '@package': 'Sandstorm.UserManagement'
                '@controller': 'Login'
                '@action': 'login'

  Neos:
    typoScript:
      autoInclude:
        'Sandstorm.UserManagement': TRUE

    userInterface:
      translation:
        autoInclude:
          'Sandstorm.UserManagement': ['NodeTypes/*']
